################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Ignore build output directories
**/bin/
**/obj/
**/.vs/
**/build/
**/dist/

# Ignore Locally Ran Test Files
TestResults/

# Ignore MAC
.DS_Store

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignore Rider files
.idea/
*.sln.iml

# Ignore Visual Studio Code settings
.vscode/

# Ignore NuGet packages
*.nupkg
# Uncomment if using a packages directory for NuGet
# packages/
# Uncomment if using the old format
# *.nuget/

# Ignore build logs
*.log

# Ignore Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper
_ReSharper.Caches/

# Ignore User secrets
**/secrets.json

# Ignore Web.config transformation files
*.Debug.config
*.Release.config

# Ignore Coverage files
coverage/

# Ignore other config files
appsettings.local.json

