################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api-calculator-tutorial-ado/FileContentIndex/0b0bd958-f4fc-4121-be06-26bdc31668d3.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/0da4f00d-6756-4469-a8a1-0812b7489bc6.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/6ebb80f8-ce9d-474d-851b-5d1c7dffa1e2.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/a217e622-7f3c-411e-a7aa-76e1c547bffd.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/e125a07a-5878-4ce6-8f4b-ce5843b93a44.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/00960b7e-18a8-485e-8c8f-534d4cfdd337.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/2ab3b8b4-2baf-43fd-b9a9-4fbbc7c6af48.vsidx
/.vs/api-calculator-tutorial-ado/FileContentIndex/0e5a9d4a-47a6-4f26-b3e6-f60d31c73548.vsidx
